@charset "UTF-8";
/* 리셋css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
   em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
   b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
   details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
   output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
   menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   background: #fafafa;

}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

.m_text {
   font-size: 14px;
   font-weight: bold;
}



/*헤더 관련 속성*/
#container {
   background: white;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

#header {
   width: 100%;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999;
   background: white;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#header .inner {
   width: 975px;
   height: 77px;
   margin: 0 auto;
   display: flex;
   justify-content: left;
   align-items: center;
}

#header .inner .logo .sprite_logo_icon {
   position: relative;
   margin-right: 30px;
}
#header .inner .logo .sprite_title {
   position: relative;
   margin-right: 30px;
}

#header .inner .logo div {
   vertical-align: middle;
}

#header .menu {
   display: flex;
   margin-left: 350px;
}

#header .menu li {
   margin-left: 30px;
}